<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">
            <p class="lead">Views</p>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= view.image %>">
                <div class="caption-full">
                    <h4><a><%= view.name %></a></h4>
                    <p><%= view.description %></p>
                    <p>
                        <em>Submitted by: <%= view.author.username %></em>
                    </p>
                    <% if(currentUser && view.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/views/<%= view._id %>/edit">Edit</a>
                        <form class="delete-form" action="/views/<%= view._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/views/<%= view._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% view.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= comment.date %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                                href="/views/<%= view._id %>/comments/<%= comment._id %>/edit">
                                Edit
                            </a>
                            <form class="delete-form" action="/views/<%= view._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    
    <script>
        function initMap() {
            var lat = <%= view.lat %>;
            var lng = <%= view.lng %>;
            var center = {lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
                <strong><%= view.name %><br />
                <%= view.location %></strong>
                <p><%= view.description %></p>
            `
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS-BgvFX5PSBYBfyPcAtWCVobErhqisiU&callback=initMap"></script>
    
<% include ../partials/footer %>